body {
    background-color: gray;

}

.header {
    font-size: 2em;
}

h1 {
    text-align: center;
    color: aqua;
}

main {
    background-color: rgb(110, 204, 233);

    justify-content: center;
    align-items: center;

    & .box {
        background-color: red;

        & input {
            font-size: 1em;
        }
    }

    & .Nome-c {
        text-align: center;
    }
}